html, body {
    background: #3C444C;
    font-family: Montserrat;
    margin: 0;
}

button {
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.fluid-page {
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

.section {
    display: flex;
    width: 100%;
}

.headerContainer {
    justify-content: space-between;
    align-content: center;
    background: #3C444C;
    height: 80px;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
}

.items {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.register {
    border: 0;
}


.auth {
    width: 21%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    margin-left: 16px;
}

.item {
    font-family: Montserrat;
    font-size: 10px;
    color: #FFFFFF;
}

.login {
    border: 1px #FFFFFF solid;
    border-radius: 20px;
    background: #3C444C;
    width: 62px;
    height: 30px;

}

.register {
    font-family: Montserrat;
    font-size: 10px;
    color: #FFFFFF;
    width: 81px;
    height: 30px;
    background: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%);
    border-radius: 20px;
}

.sub {
    align-items: flex-end;
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%), #3C444C;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    position: relative;
}

.sub-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.header {
    width: 30%;
    margin: 16px 16px 76px;
    display: flex;
    flex-direction: column;
}

.sub-header-image {
    width: 50%;
    background: url('Group 29@2x.svg') no-repeat center;
    background-size: 571px 636px;
}

.sub-mask {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #3C444C;
    bottom: 0;
    opacity: .9;
}

h1 {
    font-family: Zilla Slab;
    font-weight: normal;
    font-size: 44px;
    line-height: 56px;
    color: #FFFFFF;
}

.prag {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;

}

.started {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #30363C;
    border-radius: 20px;
    background: #FFFFFF;
    width: 190px;
    height: 40px;
    margin-right: 7px;
}

.find {

    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #FFFFFF;


}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.fullcontent {
    justify-content: space-evenly;
    background: #3C444C;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);

}

.full {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 16px;

}

.dolor {
    font-family: Zilla Slab;
    font-size: 44px;
    line-height: 56px;
    color: #FFFFFF;
}

.sit {
    font-family: Montserrat;
    font-size: 19px;
    line-height: 30px;
    color: #CBCFD4;
}

.sed {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.readmore {
    padding: 16px;
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
    border-radius: 20px;
    margin-top: 20px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 12px;


}

.image {
    width: 446px;
    height: 462px;
    background: url('Group 29@2x2.png');
    margin-right: 119px;
    margin-top: 36px;


}

.content2 {
    flex-direction: column;
    justify-content: center;
    background: #3C444C;
    margin-top: 60px;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
}

.lorem {
    font-family: Zilla Slab;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.p1 {
    font-family: Montserrat;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #CBCFD4;
}

.paragraph {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.paragraph2 {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.lastContainer {
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    background: #3C444C;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);

}

.headerItem {
    font-family: Zilla Slab;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.itemp {
    font-family: Montserrat;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #CBCFD4;
}

h2 {
    font-family: Zilla Slab;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.sentence {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #CBCFD4;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.magna {
    display: flex;
    flex-direction: column;
}

.footer {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #3C444C;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerp {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: 10px;


}

.footer-item {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
    list-style: none;
    margin: 10px;

}


.end {
    width: 100%;
    height: 80px;
    background: #3C444C;
    opacity: 0.5;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;


}

.sub-end {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.sub-end a {
    padding: 8px;
}

.separator {
    width: 100%;
    height: 60px;
    color: #F27A54;
}

.footer-icons {
    margin-right: 10px;
}

.footer-logo {
    margin-right: 80px;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
        max-width: 95%;
    }

    .sub-header-image {
        display: none;
    }

    .image {
        display: none;
    }

    .sub-content .header {
        width: 100%;
    }

    .sub-content .header h1 {
        /*font-size: 1rem;*/
    }
}